

.stat-text{
  .stat-item{
    height: 140px;
    padding-top: 8px;
    padding-bottom: 24px;

    >div{
      height: 100%;
      border-radius: 3px;
      background: #ffffff !important;
      padding: 8px;
      &:hover{
        box-shadow: 0 0 5px rgba(0,0,0,0.3);

      }
      .left-icon{
        display: inline;
        i{
          display: inline-block;
          margin-top: 24px;
          margin-left: 15px;
          font-size: 28px;
          width: 52px;
          height: 52px;
          line-height: 52px;
          border-radius: 32px;
          text-align: center;
          color: #03a9f4;
          border:1px solid #03a9f4;
        }

      }
      .right-count{
        position: absolute;
        text-align: right;
        right: 24px;
        top: 24px;
        font-size: 12px;
        .count{
          font-size: 28px;
          color: #666666;

        }
        .title{
          color: #989898;
        }
        .percent{
          color: #989898;
        }
      };
    }

    font-size: 14px;
  }
}