.logo{
  border-radius: 6px;
  height: 32px;
  margin: 16px;
  color: #dddddd;
  img{
    vertical-align: middle;
    margin-right: 12px;
  }
}

#root >.ant-layout{
  height: 100%;
}


.layout-breadcrumb{
  padding: 12px 24px;
  background: #ffffff;
}